body {
}
.home {
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(menu-food-background-wooden-rustic-cutting-board-with-ingredients-cooking-vegan-food-dark-background-top-view_118925-2200.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex: 0.5;
}

.newp {
    font-family: 'Sofia', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
    text-shadow: 5px 5px 5px #1e5faf;
    flex: 1;
}

.homepage {
    flex: 3;
}

.bodyHome {
    display: flex;
    flex-direction: column;
}
.navparHome {
    overflow: hidden;
  
    margin: 0;
    padding: 0;
}

.navparHome a {
    float: left;
    display: block;
    color: black;
    font-size: 30px;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    flex: 0.5;
    color: white;
    }

.navparHome a:hover {
      background-color: white;
            color: black;
}
.talkabout{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
}
h1{
    font-size:50px;
    font-weight:600;
}
p{
    color:#777;
    font-size:30px;
    font-weight:300;
    line-height:30px;
    padding:10px;
}
.row{
    margin-top:5%;
    display:flex;
    justify-content:space-between;
}
.items-col {
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition:0.5s;    
}
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-size:40px;
}
.items-col:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);

}
.seemore{
    width:300px;
    padding:10px 20px 10px 20px;
    border:1px solid black;
    font-size:20px;
  
}
a {
    text-decoration: none;
    color:black;
}
.seemore:hover{
    background-color:black;
    color:white;
}


